<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">管理人用一覧画面</h1>
      <p class="lead fw-normal text-white-50 mb-0">商品の追加、変更、削除ができます</p>
    </div>
  </div>
</header>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <%= render partial: 'shared/flash_notice' %>
    <div class="p-admin-index__new-botton d-flex justify-content-end mt-3">
      <%= link_to '商品を追加', new_admin_product_path, class: 'btn btn-dark' %>
    </div>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mt-5">
      <% @products.each do |product| %>
        <div class="col mb-5">
          <div class="card h-100">
            <%= link_to product_path(product), data: { turbo: false }, class: 'product__link' do %>
              <% if product.discouted_price.present? %>
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
              <% end %>
              <!-- Product image-->
              <% if product.image.present? %>
                <%= image_tag product.image, class: 'card-img-top', alt: product.name if product.image.attached? %>
              <% else %>
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
              <% end %>
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder"><%= product.name %></h5>
                  <!-- Product reviews-->
                  <div class="d-flex justify-content-center small text-warning mb-2">
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  <% if product.discouted_price.present? %>
                    <span class="text-muted text-decoration-line-through"><%= number_to_currency(product.price, precision: 0) %></span>
                    <%= number_to_currency(product.discouted_price,precision: 0) %>
                  <% else %>
                    <%= number_to_currency(product.price,precision: 0) %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <%= link_to '更新', edit_admin_product_path(product), class: 'btn btn-dark' %>
                <%= link_to '削除', admin_product_path(product), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @products %>
    </div>
  </div>
</section>
