<%= render partial: 'shared/flash_errors' %>
<%= render partial: 'shared/flash_notice' %>
<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <% if @product.image.present? %>
          <%= image_tag @product.image, class: 'card-img-top mb-5 mb-md-0', alt: @product.name %>
        <% else %>
          <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: <%= @product.sku %></div>
        <h1 class="display-5 fw-bolder"><%= @product.name %></h1>
        <div class="fs-5 mb-5">
          <% if @product.discouted_price.present? %>
            <span class="text-decoration-line-through"><%= number_to_currency(@product.price, precision: 0) %></span>
            <span><%= number_to_currency(@product.discouted_price, precision: 0) %></span>
          <% else %>
            <span><%= number_to_currency(@product.price, precision: 0) %></span>
          <% end %>
        </div>
        <p class="lead"><%= @product.description %></p>
        <div class="d-flex">
          <%= form_with url: cart_path(current_cart, product_id: @product.id), data: { turbo_method: :post } do |f| %>
            <div class="form-group d-flex justify-content-center align-items-center mt-2">
              <%= f.select :quantity, options_for_select(1..9), {}, { class: 'form-control' } %>
              <%= f.button type: :submit, class: 'btn btn-dark flex-shrink-0 ms-2' do %>
                <i class="bi-cart-fill me-1"></i>カートに追加
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @related_products.each do |related| %>
        <div class="col mb-5">
          <%= link_to product_path(related), data: { turbo: false }, class: 'product__link' do %>
            <div class="card h-100">
              <!-- Product image-->
              <% if related.image.present? %>
                <%= image_tag related.image, class: 'card-img-top', alt: related.name %>
              <% else %>
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
              <% end %>
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder"><%= related.name %></h5>
                  <!-- Product price-->
                  <% if related.discouted_price.present? %>
                    <span class="text-decoration-line-through"><%= number_to_currency(related.price, precision: 0) %></span>
                    <span><%= number_to_currency(related.discouted_price, precision: 0) %></span>
                  <% else %>
                    <span><%= number_to_currency(related.price, precision: 0) %></span>
                  <% end %>
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"> <%= link_to cart_path(product_id: related.id, quantity: 1 ), data: { turbo_method: :post } ,class: "btn btn-outline-dark mt-auto" do %>
                    <i class="bi-cart-fill me-1"></i>カートに追加
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>
